<div>
  <div class="logos">
  <%= image_tag("itpwhitenu.png", :class => "itplogo white") %>
  <div class="menu">
     <ul class="social">
      <li><%= image_tag("left.png", :id => "left") %></li>
      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><%= image_tag("bandcamp-button-bc-circle-black-128.png", :id => "bandcamp") %></a></li>
       <li><%= image_tag("right.png", :id => "right") %></li>
     </ul>
    </div>
  </div>
</div>