<div class="logos">
  <%= image_tag("itpwhitenu.png", :class => "itplogo white") %>
  <div class="menu">
     <ul class="social">
      <li><%= image_tag("left.png", :class => "listend") %></li>
      <li><a href="https://www.facebook.com/weareinthepines"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/weareinthepines/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/weareinthepines"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://weareinthepines.bandcamp.com/releases"><%= image_tag("bandcamp-button-bc-circle-black-128.png", :id => "bandcamp") %></a></li>
       <li><%= image_tag("right.png", :class => "listend") %></li>
     </ul>
    </div>
</div>