<div class="site">
<div class="itpheader">
  <span class="itp">IN THE PINES</span>
  <ul class="ulleft">
    <li><a href="shows.html">SHOWS</a></li>
    <li><a href="media.html">MEDIA</a></li>
  </ul>
  <ul class="ulright">
    <li><a href="about.html">ABOUT</a></li>
    <li><a href="contact.html">CONTACT</a></li>
  </ul>
</div>
<div class="itpbody">
  <div class="bccontainer">
  <iframe class="bandcamp" src="https://bandcamp.com/EmbeddedPlayer/album=4003157427/size=large/bgcol=FDFDE6/linkcol=215E38/tracklist=false/transparent=true/" seamless>
    <a href="http://weareinthepines.bandcamp.com/album/forever-green">Forever Green by In The Pines</a></iframe>
  </div>
</div>
</div>