<div class="itpheader">
  <span class="itp">IN THE PINES</span>
  <ul class="ulleft">
    <li><a href="shows.html">SHOWS</a></li>
    <li><a href="media.html">MEDIA</a></li>
  </ul>
  <ul class="ulright">
    <li><a href="about.html">ABOUT</a></li>
    <li><a href="contact.html">CONTACT</a></li>
  </ul>
</div>