<div id="site2" class="fading">
  <div id="bnbutton">
    <ul class="header">
      <li><a href="/index.html"> HOME</a></li>
      <li class="heydave"><a href="http://www.theblacknumbers.com/"><%= image_tag("bn.png", :class=>"bn") %></a></li>
      <li><a href="mailto:weareinthepines@gmail.com"> CONTACT</a></li>
    </ul>
  </div>
<div class="showslist">
<script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/In%20the%20Pines" class="bit-widget-initializer" data-artist="In the Pines" data-prefix="fbjs">In the Pines Tour Dates</a>
</div>
  </div>