<div id="site2">
  <div id="bnbutton">
    <ul class="header">
      <li><p><a href="/index.html" class="animsition-link"> HOME</a></p></li>
      <li><a href="http://www.theblacknumbers.com/"><%= image_tag("bn.png", :class=>"bn") %></a></li>
      <li><p><a href="contact"> CONTACT</a></p></li>
    </ul>
  </div>
<div class="showslist">
<script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/In%20the%20Pines" class="bit-widget-initializer" data-artist="In the Pines" data-prefix="fbjs">In the Pines Tour Dates</a>
</div>
  </div>