// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
 body{
   background-image: url(bkg.png);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }


.logos {
  position: relative;
  width: 40%;
  margin: 20% auto;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.white {
  margin: auto;
  padding: 1% 3.8%;
}


ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  float:left;
}

li {
  position: relative;
  font-size: 50px;
  float:left;
  padding: 0px 6px;
}

li a {
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
}

#bandcamp {
  width: 42px;
  padding-top: 15%;
  margin-bottom: -4%;
}

ul li a img{
  display: block;
}

.listends {

  margin: auto;
  padding-left: 1%;
  padding-top: 13%;
  float: left;
}
