// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
 body{
   background-image: url(bkg.png);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height:100vh;
 }

 #site {
   width: 100%;
   height: 100vh;
   overflow: hidden;
 }


.logos {
  position: relative;
  width: 40%;
  margin: 18% auto;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.white {
  margin: auto;
  padding: 1% 3.8%;
}


ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  float:left;
}

.social li {
  position: relative;
  font-size: 50px;
  float:left;
  padding: 0px 10px;
}

.social li a {
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
}

#bandcamp {
  width: 42px;
  padding-top: 15%;
  margin-bottom: -4%;
}

.social ul li a img{
  display: block;
}

.listend {

  margin: auto;
  padding-left: 1%;
  padding-top: 22%;
  float: left;
}

#bnbutton {
text-align: center;
  margin-top: 1%;

}

#bottom {
  position: fixed;
  top:100%
}

.bandimals ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  float:left;
}

.bandimals li {
  position: relative;
  font-size: 50px;
  float:left;
  padding: 0px 6px;
}

.bandimals li a {
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
}

#chris{

}

#michael {
margin-top: 7%;
}

#tom{
  width: 62%;
  margin-left: 14%;
}

#nick {
  margin-top: 8%;
}

.slide-up {
  top:75%;
}

.slide-down{
  top:100%;
}