// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin respond-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin respond-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin respond-max-height($height) {
  @media screen and (max-height: $height) {
    @content;
  }
}
$desktopXLarge: 1300px;
$desktopLarge: 1200px;
$desktopSmall: 1024px;
$desktopXSmall: 950px;
$tablet: 768px;
$mobileLarge: 768px;
$heightSmall: 500px;
$mobileMedium: 500px;
$mobile: 375px;
$mobileSmall: 320px;

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.heydave {
  padding-top: 0 !important;
  margin-left: 20px;
  margin-right: 20px;
}

#bnbutton {
  text-align: center;
  z-index: 1;
}


#bnbutton ul {
  list-style-type: none;
  overflow: hidden;
  display: inline-flex;
}

#bnbutton li {
  color: white;
  padding-top:8%;
  font-weight: 300;
  font-size: x-large;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#bnbutton li a {
  color: white;
  text-decoration: none;
}

#bnbutton li a:hover {
  color: #2db1a3;
}

.bnhover {
  display: none;
}

.logos {
  position: relative;
  text-align: center;
  margin: auto;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}


.white {
  margin: auto;
  padding: 1% 0;
  @include respond-max($tablet) {
    width: 70%;
  }
}

.menu{
  width: 100%;
  height:70px;
}

.social{
  padding: inherit;
  margin:0 auto;
}

.social li {
  position: relative;
  font-size: 50px;
  display: inline-block;
  padding: 0px 10px;
  @include respond-max($desktopXLarge){
    font-size: 40px;
  }
  @include respond-max($desktopLarge){
    font-size: 35px;
  }
  @include respond-max($mobile) {
    font-size: 30px;
    padding: 0 4px;
  }
  @include respond-max($mobileSmall){
    font-size: 20px;
    padding: 0 2px;
  }
}

.social li a:hover{
  color:#2db1a3;
}

#bandcamp {
  width: 42px;
  padding-top: 15%;
  margin-bottom: -4%;
  @include respond-max($desktopXLarge){
    width: 40px;
  }
  @include respond-max($desktopLarge){
    width: 35px;
  }
  @include respond-max($mobile){
    width: 30px;
  }
  @include respond-max($mobileSmall){
    width: 20px;
  }
}

#bandcampalt {
  width: 42px;
  padding-top: 15%;
  margin-bottom: -4%;
  @include respond-max($desktopXLarge){
    width: 40px;
  }
  @include respond-max($desktopLarge){
    width: 35px;
  }
  @include respond-max($mobile){
    width: 30px;
  }
  @include respond-max($mobileSmall){
    width: 20px;
  }
}

.hover {
  display:none;
}

.listend {

  margin: auto;
  padding-left: 1%;
  padding-top: 22%;
  @include respond-max($desktopXLarge){
    width:85%;
  }
  @include respond-max($desktopLarge){
    width:80%;
    padding-top: 20%;
  }
  @include respond-max($mobile){
    width:60%;
  }
  @include respond-max($mobileSmall){
    width: 40%;
  }
}

.social li a {
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
}






li {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.showslist {
  position: relative;
  display: block;
  margin: 0 20%;
  text-align: center;
  background-color: rgba(192,192,192,0.5);
  border-radius: 10px;
}

.showslist li {
  display: inline-block;
  font-weight: 300;
  font-size: x-large;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.bit-events {
  font-size: x-large;
  font-weight: 300 !important;
  margin: 0 auto;
  color:white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border-bottom: none !important;
}

.bit-events a{
  text-decoration: none;
  color:white;
}

.bit-events a:visited {
  text-decoration: none;
  color: white;
}


iframe {
  height: 275px !important;
}

.window{
  width:100vw;
  height:100%;
  position:absolute;
  overflow: hidden;
}

.background {
  position: relative;
  width: 100%;
}

#foreverGreen {
  background-image: url("Twitter-FB_CoverPhoto_ForeverGreen.jpg");
  background-position: center;
  background-size: cover;
  @include respond-max($tablet) {
    display: none;
    width: 0;
    height: 0;
    background: none;
    background-position: 0%;
    background-size: 0%;
  }

}



#bottom {
  background-color: #3b3d76;
  @include respond-max($tablet) {
    display: none;
  }
}

@for $i from 1 through 6{
  .window:nth-child(#{$i}){
    top:($i - 1) * 100%;
  }
}

#animals {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 75%;
  top: 72%;
  @include respond-max($tablet){
    top: 80%;
  }
}

#first {
  background-image: url("bkg-min.png");
  background-position: center;
  background-size: cover;
  background-color: #2db1a3;
  background-attachment: fixed;
  @include respond-max($tablet){
    background-attachment: scroll;
  }
}

#shows {
  background-image: url("bk2-min.png");
  background-position: center;
  background-size: cover;
  background-color: #5964a2;
  background-attachment: fixed;
  @include respond-max($tablet){
    display: none;
  }
}

#player {
  position: relative;
  float: right;
}

.bit-track-artist-header {
  display: none !important;
}

.desktop {
  display: block;
  padding-right: 40px;
  @include respond-max($tablet){
    display: none;
  }
}

.mobile {
  display: none;
  margin:auto;
  @include respond-max($tablet) {
    display: block;
    margin-right: 5%;
  }
}

#bottom {
  display: none;
}

.left {
  @include respond-max($tablet){
    margin-left: 35%;
  }
  @include respond-max($mobileSmall){
    padding-right: 0;
  }
}

.right {
  @include respond-max($tablet) {
    margin-right: 40%;
  }
}

