// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin respond-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin respond-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin respond-max-height($height) {
  @media screen and (max-height: $height) {
    @content;
  }
}
$desktopXLarge: 1300px;
$desktopLarge: 1200px;
$desktopSmall: 1024px;
$desktopXSmall: 950px;
$tablet: 768px;
$mobileLarge: 768px;
$heightSmall: 500px;
$mobileMedium: 500px;
$mobile: 375px;
$mobileSmall: 320px;

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.heydave {
  padding-top: 0 !important;
  margin-left: 20px;
  margin-right: 20px;
}

#bnbutton {
  margin: auto;
  text-align: center;
  display: block;
  z-index: 1;
}


#bnbutton ul {
  list-style-type: none;
  overflow: hidden;
  display: inline-flex;
}

#bnbutton li {
  color: white;
  padding-top:8%;
  font-weight: 300;
  font-size: x-large;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#bnbutton li a {
  color: white;
  text-decoration: none;
}

.logos {
  position: relative;
  width: 40%;
  margin: auto;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.white {
  margin: auto;
  padding: 1% 3.8%;
}

.menu{
  width: 100%;
  height:70px;
}

.social {
  width: 100%;
}

.social li {
  position: relative;
  font-size: 50px;
  float:left;
  padding: 0px 10px;
  @include respond-max($desktopXLarge){
    font-size: 40px;
  }
}
#bandcamp {
  width: 42px;
  padding-top: 15%;
  margin-bottom: -4%;
  @include respond-max($desktopXLarge) {
    width: 35px;
  }
}

.listend {

  margin: auto;
  padding-left: 1%;
  padding-top: 22%;
  float: left;
  @include respond-max($desktopXLarge){
    width:85%;
  }
}

.social {
  margin: 0 auto;
}


.social ul li a {
  display: block;

}

.social li a {
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
}






li {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.showslist {
  position: relative;
  display: block;
  margin: 0 20%;
  text-align: center;
  background-color: rgba(192,192,192,0.5);
  border-radius: 10px;
}

.showslist li {
  display: inline-block;
  font-weight: 300;
  font-size: x-large;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.bit-events {
  font-size: x-large;
  font-weight: 300 !important;
  margin: 0 auto;
  color:white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border-bottom: none !important;
}

.bit-events a{
  text-decoration: none;
  color:white;
}

.bit-events a:visited {
  text-decoration: none;
  color: white;
}


iframe {
  height: 275px !important;
}

.window{
  width:100vw;
  height:100%;
  position:absolute;
  overflow: hidden;
}

.background {
  position: relative;
  width: 100%;
}

#foreverGreen {
  background-image: url("Twitter-FB_CoverPhoto_ForeverGreen.jpg");
  background-position: center;
  background-size: cover;
}



#bottom {
  background-color: #3b3d76;
}

@for $i from 1 through 6{
  .window:nth-child(#{$i}){
    top:($i - 1) * 100%;
  }
}

#animals {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 75%;
  top: 72%;
}

#first {
  background-image: url("bkg.png");
  background-position: center;
  background-color: #2db1a3;
  background-attachment: fixed;
}

#shows {
  background-image: url("bk2.png");
  background-position: center;
  background-size: cover;
  background-color: #5964a2;
  background-attachment: fixed;
}

#player {
  position: relative;
  float: right;
}

.bit-track-artist-header {
  display: none !important;
}


