// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
 #site{
   background-image: url(bkg.png);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height:100vh;
   width: 100%;
   overflow: hidden;
 }

#site2{
  background-image: url(bk2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  width: 100%;
  overflow: hidden;
  opacity: .6;
}




p {
   color: white;
   font-weight: 300;
   font-size: x-large;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   margin: 22% auto;
   float: left;
 }

#bnbutton {
  margin: auto;
  text-align: center;
  display: table;
}


#bnbutton ul {
  list-style-type: none;
  overflow: hidden;
  float:left;
}

#bnbutton li {
  position: relative;
  float:left;
  padding: 10px;
  margin:inherit;
  padding-top: 7%;
  color: white;
  font-weight: 300;
  font-size: x-large;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#bnbutton li a {
  color: white;
  text-decoration: none;
}

.logos {
  position: relative;
  width: 40%;
  margin: 10% auto;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.white {
  margin: auto;
  padding: 1% 3.8%;
}


.menu ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  float:left;
}

.social li {
  position: relative;
  font-size: 50px;
  float:left;
  padding: 0px 10px;
}

.social li a {
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
}

#bandcamp {
  width: 42px;
  padding-top: 15%;
  margin-bottom: -4%;
}

.social ul li a img{
  display: block;
}

.listend {

  margin: auto;
  padding-left: 1%;
  padding-top: 22%;
  float: left;
}

#bottom {
  position: fixed;
  top:100%;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#band {

}

li {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.showslist {
  position: relative;
  display: block;
  margin: 6%;
  text-align: center;
}

.showslist li {
  display: inline-block;
  font-weight: 300;
  font-size: x-large;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.bit-events {
  font-size: x-large;
  font-weight: 300 !important;
  margin: 0 auto;
  color:white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  border-bottom: none !important;
}

.bit-events a{
  text-decoration: none;
  color:white;
}

.bit-events a:visited {
  text-decoration: none;
  color: white;
}

.bit-rsvp-dialog {
  overflow: hidden !important;
}

.js {
  overflow: hidden !important;
}

iframe {
  height: 275px !important;
}

.heydave {
  padding-top: 0;
}